
<div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="custom-div div-1" routerLink="AdditionGame">
                      <h5>Addition Games</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="custom-div div-2" routerLink="MultiplicationGame">
                        <h5>Multiplicating Games</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="custom-div div-3" routerLink="DivisionGame">
                        <h5>Division Games</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="custom-div div-4" routerLink="SubstractionGame">
                        <h5>Substraction Games</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <router-outlet></router-outlet> 
        </div>
    </div>
</div>


