*{
    font-family: cursive;
}
.calculator-main-div{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.calculator-container{
    max-width: 700px;
    padding: 20px;
}