<div class="calculator-main-div">
    <div class="calculator-container">
        <h3 class="mb-4 text-center">Fuel Cost Calculator</h3>
        <div class="row">
           <div class="col-md-4">
            <div class="mb-3">
                <label for="mileage" class="form-label">Bike Mileage (km/l)</label>
                <input type="number" id="mileage" class="form-control" placeholder="Enter Milage">
            </div>
           </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="fuelCost" class="form-label">Fuel Cost per Liter (₹)</label>
                    <input type="number" id="fuelCost" class="form-control" placeholder="Enter Fuel Cost">
                </div>
            </div>
           <div class="col-md-4">
            <div class="mb-3">
                <label for="distance" class="form-label">Distance to Travel (km)</label>
                <input type="number" id="distance" class="form-control" placeholder="Enter Distance"> 
            </div>
           </div>
            <div class="text-center">
                <div class="mb-3 reasult-main-div" style="display: none;">
                    <label for="result" class="form-label">Total Fuel Cost (₹) = </label>
                    <span id="result" class="text-success fs-3"></span>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div>
                <span class="text-danger mb-3" id="Err_msg"></span>
            </div>
            <button id="calculateBtn" class="btn btn-primary" (click)="calculate()">Calculate</button>
        </div>
    </div>
</div>