
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="button-container">
                <button class="btn btn-primary custom-button" routerLink="/CRUD_studentData">End to End CRUD operations using Json server</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="button-container">
                <button class="btn btn-primary custom-button" routerLink="/inputValPractice">Input checkbox show and hide password</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="button-container">
                <button class="btn btn-secondary custom-button" routerLink="/FakestoreAPI">Using fakestore Api & Services fetch data</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="button-container">
                <button class="btn btn-secondary custom-button" routerLink="/PostAPI">Post data using Post method</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="button-container">
                <button class="btn btn-secondary custom-button" routerLink="/Balika_practice">Get method Practiced with balika</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="button-container">
                <button class="btn btn-secondary custom-button" routerLink="/for_loop_practice">*ng For loop practice</button>
            </div>
        </div>
    </div>
</div>
