.cross_Delete{
    position: absolute;
    right: 0px;
    top: 2px;
    background: red;
    padding: 2px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}