<div class="container d-flex justify-content-center main-register">
    <form #registerHere="ngForm"  class="w-50 border-1 p-4 rounded" (ngSubmit)="registeUser(registerHere.value)" style="margin-top:12%;">
        <h2 class="text-center">Register to MATHTRIX</h2>
        <dt>Name</dt>
        <dd><input type="text" name="name" class="form-control" placeholder="Enter Name" ngModel></dd>
        <dt>Email</dt>
        <dd><input type="email" name="email" id="" class="form-control" placeholder="Enter Email" ngModel></dd>
        <dt>Password</dt>
        <dd><input type="password" name="password" class="form-control" placeholder="Enter Password" ngModel></dd>
        <div class="text-center"><button type="submit" class="btn btn-primary">Register</button><span style="cursor: pointer;" routerLink="/signin" class="text-secondary sign-in ms-4">Sign in</span></div>
    </form>
</div>
