<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="button-container">
                <button class="btn btn-primary custom-button" routerLink="/Age_calculator">Age Calculator</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="button-container">
                <button class="btn btn-secondary custom-button" routerLink="/BMI_calculator"> BMI calculator</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="button-container">
                <button class="btn btn-warning custom-button" routerLink="/Fuel_cost_calculator"> Fuel Cost Calculator</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="button-container">
                <button class="btn btn-warning custom-button" routerLink="/Unit_translator"> Unit Translator </button>
            </div>
        </div>
    </div>
</div>