<div class="container"> 
    <h2 class="text-center about-heading">About Us</h2>
    <div class="text-center dummy-para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum facere dolores nesciunt quis harum quam tenetur autem commodi enim repellat dolore earum, similique, at recusandae sed aut incidunt, excepturi eos!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit doloremque aperiam sapiente provident aut tempora, voluptatem mollitia quas nam dolor. Ut suscipit soluta delectus amet earum voluptatem inventore est dolores.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores quaerat, repudiandae dolore architecto nam voluptatibus quia! Blanditiis alias, mollitia soluta laudantium magni, rem totam vitae sit doloribus quos optio vero?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi ad animi tempora voluptatibus commodi nobis ipsa, doloremque consequatur voluptas libero eveniet magnam veniam aliquid non odio et mollitia recusandae! Rerum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto libero et eveniet, modi quam odit vero. Ducimus porro numquam adipisci dignissimos labore earum repellat temporibus, harum eum quaerat fugit in.
    </div>
</div>