.dummy-para{
    font-family: cursive;
    font-size: 18px;
}
.about-heading{
    font-family: cursive;
}
.about-us-main-parent{
    // background-image: url(../../images/best-about-us-pages.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.body_main{
    background-color: red !important;
}