<div class="container mt-5">
    <h2 class="text-center">BMI Calculator</h2>
    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="text-center">Calculate BMI</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="gender">Select Gender:</label>
              <select id="gender" class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="height">Enter Height (cm):</label>
              <input type="number" id="height" class="form-control">
              <div class="text-danger Err_msg_height"></div>
            </div>
            <div class="form-group">
              <label for="weight">Enter Weight (kg):</label>
              <input type="number" id="weight" class="form-control">
              <div class="text-danger Err_msg_weight"></div>
            </div>
            <div class="text-center mt-4">
                <button class="btn btn-warning btn-block" id="calculateButton" (click)="calculateBMI()">Calculate BMI</button>
            </div>
            <div class="mt-3">
              <p class="text-success">Your BMI is: <span id="bmiOutput" class="text-danger"></span></p>
              <p class="text-success">BMI Category: <span id="categoryOutput" class="text-danger"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
