/* You can add global styles to this file, and also import other style files */
.card-main-div{
    flex-wrap: wrap;
}
li.active {
    border-bottom: 2px solid red;
  }
li.active .nav-link{
    color: red !important;
}